/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* General Styling */

@font-face {
    font-family: 'Optimus';
    src: url('fonts/OptimusPrincepsSemiBold.ttf');
}

body {
    background-image: url(img/background.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-color: #0f1c39;
    font-family: 'OptimusPrincepsSemiBold';
}

body.active {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
}

/* Burger icon styling and animation */

.burger_wrapper {
    display: block;
    position: relative;
    width: 20px;
    height: 10px;
    cursor: pointer;
}

.burger_wrapper:before,
.burger_wrapper:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    background: #b8c3d2;
    border-radius: 10px;
    height: 2px;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger_wrapper::before {
    top: 0;
}

.burger_wrapper::after {
    bottom: 0;
}

.burger_btn {
    position: absolute;
    top: 4px;
    background: #b8c3d2;
    opacity: 0.9;
    border-radius: 10px;
    height: 2px;
    width: 100%;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger_wrapper.active::before {
    transform: rotate(45deg);
    top: 4px;
}

.burger_wrapper.active::after {
    transform: rotate(-45deg);
    bottom: 4px;
}

.burger_wrapper.active .burger_btn {
    opacity: 0;
    transform: translateX(12px);
}

.burger_wrapper.active::before,
.burger_wrapper.active::after,
.burger_wrapper.active .burger_btn {
    background: #e4e8ed;
}

/* Nav Styling */

nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 3rem 0 3rem;
    transition: all 0.5s ease-in;
    z-index: 1;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

nav.active {
    left: 0;
}

ul {
    width: 100%;
}

li {
    font-size: 1.5rem;
    color: #abc4de;
    background-color: rgba(175, 217, 255, 0.2);
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0 0.3rem 0;
    border-radius: 5px;
    z-index: -1;
    cursor: pointer;
}

/* Header Styling */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

h1 {
    font-family: 'Optimus', sans-serif;
    font-size: 1.5rem;
    color: #b8c3d2;
    cursor: pointer;
}

/* Main Part Styling */

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in;
    min-height: calc(100vh - 60px);
}

main.active {
    opacity: 0;
}

.text_container {
    max-width: 300px;
    font-family: 'Federo', sans-serif;
    font-size: 1rem;
    line-height: 140%;
    margin: 0.7rem 2rem 0 2rem;
    color: #8d9bb4;
}

.text_container p {
    margin-bottom: 0.7rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #dce6f1;
    opacity: 0.9;
}

img {
    margin-top: auto;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    max-width: 100%;
    text-align: center;
}
